{% extends 'products/_base.html' %}


{% block tittle %}Main page{% endblock %}

{% block content %}
    {% for device in devices %}
    <div class="card" style="width: 18rem;">
        <img src="{{ device.image.url }}" alt="{{ device.tittle }}">
            <div class="card-body">
                <h5 class="card-title">{{ device.tittle }}</h5>
                 <p class="card-text">{{ device.description }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>  
            </div>
    </div>
     {% endfor %}
    <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
  </form>
    {% endblock %}
